streamlit
python-dotenv
pandas
PyPDF2

# LangChain
langchain==0.3.25
langchain-text-splitters
langchain-community
langchain-google-genai>=2.0.1
langchain-huggingface

# Google
google-generativeai>=0.8.3

# Vector DB
faiss-cpu

# Embeddings
sentence-transformers